body {
  font-family: "Poppins";
  background-color: rgb(33, 38, 68);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #23305d;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #174d87;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #23305d;
}

p {
  font-size: 18px;
  color: #00ff6a;
}
